
<!--<div class="col-xs-12">
  <app-menu></app-menu>
</div>-->






<nav class="autohide navbar navbar-expand-lg navbar-light bg-light fixed-top" id="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img id="sizeHeader" src="../../assets/logo final.png" alt="" width="100px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mx-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#" routerLink="home" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="test" routerLinkActive="active">Ressources</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" routerLink="ressourcesList" routerLinkActive="active">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="ressourcesAdd" routerLinkActive="active">Link</a>
        </li> -->
      </ul>

      <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll ms-1" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" *ngIf="loginbtn" routerLink="login" routerLinkActive="active">Se connecter</a>
        </li>
      </ul>

      <!--<ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll ms-1" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" *ngIf="loginbtn" routerLink="registration" routerLinkActive="active">S'enregistrer</a>
        </li>
      </ul>-->

      <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll ms-1" style="--bs-scroll-height: 100px;">
        <li class="nav-item dropdown" routerLinkActive="active">
          <a  class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="logoutbtn" routerLinkActive="active">
            Mon compte
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#" routerLink="parametres" routerLinkActive="active">Paramètres</a></li>
            <li><a class="dropdown-item" href="#">Messages</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Se déconnecter</a></li>
          </ul>
        </li>
      </ul>
    </div>  
  </div>
</nav>




<!--<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <a class="navbar-brand" routerLink="home" routerLinkActive="active">Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
  
  <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarsExample">
  <ul class="navbar-nav mr-auto">
  <li class="nav-item">
  <a class="nav-link" *ngIf="loginbtn" routerLink="home" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" *ngIf="loginbtn" routerLink="login" routerLinkActive="active">Login</a>
  </li>
  <li class="nav-item">
  <button type="button" *ngIf="logoutbtn" class="btn btn-block" (click)="logout()">logout</button>
  </li>
  <li class="nav-item">
  <a class="nav-link" *ngIf="loginbtn" routerLink="registration" routerLinkActive="active">Registration</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" *ngIf="logoutbtn" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
  </li>
  </ul>
  </div>
  </nav>-->


<div class="container mt-4">
  <div class="row">
    <div class="col-xs-12">

      <router-outlet></router-outlet>
   
    </div>
  </div>
</div>






 
